<link rel="stylesheet" type="text/css" href="/static/css/menu_after_login.css">
<script type="text/javascript" src="/static/JavaScript/topmenu_after_login.js"></script>
<div class="blackback"></div>
<div class="Title_menu">
    <form name="jump_to_Userinfo" action="/return_info" method="POST"></form>
    <ul class="Menu_ul">
        <li id="jump_tomain">主页</li>
        <li id="Personal_info">个人资料</li>
        <li id="jump_reward">打赏榜</li>
        <li id="jump_banlist">黑名单</li>
        <div class="DownPanal">
            <li class="other_functions">其他功能</li>
            <div class="panal">
                <dl>
                    <dt id="jump_ranking">排行榜</dt>
                    <dt id="Group_Functions">群功能管理</dt>
                    <dt id="Superuser_Functions">超管功能</dt>
                </dl>
            </div>
        </div>
        <li id="longout">登出（退出登录）</li>
    </ul>
</div>