<!--live2d的css和js加载-->
<link rel="stylesheet" type="text/css" href="/static/assets/waifu.css" />
<!--以下为live2d模型的实现部分-->
<script src="/static/assets/jquery.min.js"></script>
<script src="/static/assets/jquery-ui.min.js"></script>

<div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" class="live2d"></canvas>
    <div class="waifu-tool">
        <span class="fui-home"></span>
        <span class="fui-chat"></span>
        <span class="fui-eye"></span>
        <span class="fui-user"></span>
        <span class="fui-photo"></span>
        <span class="fui-info-circle"></span>
        <span class="fui-cross"></span>
    </div>
</div>
<script src="/static/assets/waifu-tips.min.js"></script>
<script src="/static/assets/live2d.min.js"></script>
<script type="text/javascript">
    /* 可直接修改部分参数 */
    live2d_settings['modelId'] = 1;                  // 默认模型 ID
    live2d_settings['modelTexturesId'] = 87;         // 默认材质 ID
    live2d_settings['modelStorage'] = false;         // 不储存模型 ID
    live2d_settings['canCloseLive2d'] = false;       // 隐藏 关闭看板娘 按钮
    live2d_settings['canTurnToHomePage'] = true;    // 隐藏 返回首页 按钮
    live2d_settings['waifuSize'] = '300x435';        // 看板娘大小
    live2d_settings['waifuTipsSize'] = '370x150';    // 提示框大小
    live2d_settings['waifuFontSize'] = '30px';       // 提示框字体
    live2d_settings['waifuToolFont'] = '36px';       // 工具栏字体
    live2d_settings['waifuToolLine'] = '50px';       // 工具栏行高
    live2d_settings['waifuToolTop'] = '-80px';       // 工具栏顶部边距
    live2d_settings['waifuDraggable'] = 'axis-x';   // 拖拽样式
    live2d_settings['waifuDraggableRevert'] = 'True';  //松开鼠标还原位置
    /* 在 initModel 前添加 */
    initModel("/static/assets/waifu-tips.json")
</script>
<!--以上为live2d模型的实现部分-->