<link rel="stylesheet" type="text/css" href="/static/css/SuperuserStyle.css">
<script type="text/javascript" src="/static/JavaScript/SuperuserFunction.js"></script>


<div class="blackback"></div>
<div class="MenuButton">
    <img src="/static/OpenListImg.png" id="OpenList">
</div>

<div class="MainFunctionList">
    <h2 style="text-align: center;">超管功能列表</h2>
    <div class="SingleFunction" id="SetItemCount">物品修改
        <form name="TurnToChangePage" action="/superusers/ItemChangePage" method="post">
            <input type="hidden" value="" name="AcceptCode">
        </form>
    </div>
    <div class="SingleFunction" id="SetDailySetup">盖印章修改
        <form name="TurnToSignup" action="/superusers/SignUpSettingPage" method="post">
            <input type="hidden" value="" name="AcceptCode">
        </form>
    </div>
    <div class="SingleFunction" id="UploadReward">新增打赏人员
        <form name="TurnToRewarder" action="/superusers/UploadRewardPage" method="post">
            <input type="hidden" value="" name="AcceptCode">
        </form>
    </div>
    <div class="SingleFunction" id="UploadGamingHelp">上传攻略图片
        <form name="TurnToGamingHelp" action="/superusers/UploadGamingHelpPage" method="post">
            <input type="hidden" value="" name="AcceptCode">
        </form>
    </div>
    <div class="SingleFunction" id="WebsiteInfoChange">更改网页信息</div>
</div>
<div class="SelectDialog">
    <h2 style="text-align: center;">请选择你要修改的项目</h2>
    <div class="Selecter" id="ChangeUpdatedTimePage">修改Bot基本信息
        <form name="ChangeUpdatedTimeForm" action="/superusers/BotInfoChange" method="post">
            <input type="hidden" value="" name="AcceptCode">
        </form>
    </div>
    <div class="Selecter" id="AddReleaseInfoPage">新增版本信息
        <form name="AddReleaseInfoPageForm" action="/superusers/" method="post">
            <input type="hidden" value="" name="AcceptCode">
        </form>
    </div>
    <div class="Selecter" id="ChangeAboutUsPage">修改关于我们
        <form name="ChangeAboutUsPageForm" action="/superusers/AboutUsChange" method="post">
            <input type="hidden" value="" name="AcceptCode">
        </form>
    </div>
    <div class="Selecter" id="Nothing">暂无</div>
    <div class="Selecter" id="Nothing">暂无</div>
</div>