.Top_menu {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 7%;
}

ul li {
    float: right;
}

#jump_main {
    position: absolute;
    font-size: 30px;
    top: 20%;
    left: 15%;
}

#jump_update {
    position: absolute;
    font-size: 30px;
    top: 20%;
    left: 35%;
}

#about_us {
    position: absolute;
    font-size: 30px;
    top: 20%;
    left: 60%;
}

#jump_login {
    position: absolute;
    font-size: 30px;
    top: 20%;
    left: 85%;
}