<!DOCTYPE html>
<html>
    <head>
        <meta lang="zh">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>图像返回</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #main_img{
                height: 800px;
                width: auto;
            }
        </style>
    </head>
    <body>
        <img src="data:image/jpg;base64,{{img_src}}" id="main_img">
    </body>
</html>